:root {
  --background-light: url(./images/bg-desktop-light.jpg);
  --background-dark: url(./images/bg-desktop-dark.jpg);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--background-light);
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 32rem;
}

h1 {
  text-transform: uppercase;
  letter-spacing: .5ch;
  font-size: 3em;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 1rem;
}

li {
  display: inline-block;
  list-style-type: none;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 14px;
  color: hsl(234, 11%, 52%);
}

input {
  border: none;
  margin: 1.5rem 0;
  padding: 1rem;
  columns: 2;
  width: 85%;
  outline: none;
}

.App {
  font-family: 'Josefin Sans';
}

.list, input {
  background-color: hsl(235, 24%, 19%);
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
  min-height: 3rem;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  columns: 2;
}

.check-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(235, 24%, 19%);
  padding: 1rem;
  width: 15%;
  height: 3rem;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  left: 0;
  margin-left: .5rem;
  background: linear-gradient(120deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%)), 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  columns: 3;
  gap: 3rem;
  padding: 0 1.5rem;
  color: hsl(234, 11%, 52%);
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 50px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.focused-input, .focused-input::placeholder{
  color: white;
  font-family: 'Josefin Sans';
}

.blurred-input, .blurred-input::placeholder{
  color: hsl(234, 11%, 52%);
  font-family: 'Josefin Sans';
}